@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, etc. */
.gradiant-blur {
  filter: blur(600px);
}

/* Firefox-specific adjustment */
@-moz-document url-prefix() {
  .gradiant-blur {
    filter: blur(600px) saturate(2);
    border-radius: 50%;
    opacity: 0.4;
    transform: scale(1.2) translateY(-100px) translateX(-100px);
  }
}
